/*
 * 闪星方块
 * 版权所有 粉糖粒子周周
 * pinkcandy.top
 * copyright by pinkcandyzhou
 * 版本 1.0
 */

// 颜色盘
// default
$backA:rgb(240,200,210);
$backA_1:rgb(250,200,230);
$menu_main:rgb(70,80,100);
$menu_side:rgb(60,60,70);
$menu_side_border:rgb(50,100,150);
$txt_default:rgb(50,50,50);
$txt_h1:rgb(50,100,150);
$txt_h1_back:rgba(50,100,150,0.25);
$txt_h2:rgb(50,50,100);
$txt_h2_back:rgba(50,50,100,0.25);
$txt_p:rgb(60,60,60);
$txt_spectial:orange;
$txt_a:rgb(0,0,120);
$txt_a_1:blue;
$txt_info:rgb(60,60,60);
$txt_shadow:whitesmoke;
$box_default:rgba(50,50,50,0.1);
$box_info:rgba(50,50,50,0.2);
$box_gallery:rgba(170,250,220,0.2);
$box_gallery_border:skyblue;
$box_txt:rgba(50,100,150,0.2);
$box_txt_border:rgb(50,100,150);
$box_operate:rgba(240,240,240,0.75);
$box_operate_1:whitesmoke;
$box_operateButton:rgba(240,240,240,0.75);

/* 全局基本 */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html,body {
    width: 100%;
    height: 100%;
	font: {
		family: sans-serif, monospace;
		size: 100%;
		weight: normal;
	}
	background: {
		image: linear-gradient(0deg,$backA,$backA_1);
		size: auto;
		repeat: repeat;
		attachment: fixed;
	}
    color: $txt_default;
}

a {
	font: {
		size: 1em;
		weight: bold;
	}
	&:link {color:$txt_a;}
	&:visited {color:$txt_a;}
	&:hover {color:$txt_a_1;}
	&:active {color:$txt_a_1;}
    transition: color 0.5s;
}

/* 导航栏 */
#menu {
    width: 95%;
    float: right;
    position: relative;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    background-color: $menu_main;
    z-index: 5;
    overflow: hidden;
	img {
		height: 5em;
		vertical-align: middle;	
	}
	span {
		font-size: 3em;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;	
	}
}

#menuFull {
    width: 100%;
    float: right;
    position: relative;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background-color: $menu_main;
    z-index: 5;
    overflow: hidden;
	img {
	    height: 5em;
		vertical-align: middle;	
	}
	span {
		font-size: 3em;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;	
	}
}

#menuPhone {
    width: 100%;
    float: right;
    position: absolute;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background-color: $menu_main;
    z-index: 5;
    overflow: hidden;
    white-space: wrap;
    visibility: hidden;
	img {
		height: 3em;
		vertical-align: middle;	
	}
	span {
		font-size: 2em;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;	
	}
}

#menuSide {
    width: 5%;
    height: 100%;
    float: left;
    position: fixed;
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    background-color: $menu_side;
    padding: 0.5em;
    z-index: 4;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
	img {
	    width: 100%;
		vertical-align: middle;
		transition: box-shadow 0.5s;
		&:hover {
			box-shadow: 0 0 0 0.5em $menu_side_border;
		}
	}
	span {
		font-size: 2em;
		font-weight: bold;
		display: inline-block;
		vertical-align: middle;	
	}
	ul {
		width: 100%;
		position: relative;	
	}
	li {
		width: 100%;
		display: block;
		padding: 0.5em 0em;	
	}
	a {
		display: block;
		font-weight: bold;	
	}
}

#menuSearch {
    width: auto;
    text-align: left;
    align-items: center;
    background-color:$menu_side;
	input,button {
		font-size: 1.2em;
		padding: 0.25em;
		vertical-align: middle;
		border: 0em;
		margin: 0em;
		background-color: $box_operate;
	}
}

#loginBox {
    width: 100%;
    background-color: $box_operate;
    text-align: left;
    font-size: 0.8em;
	button {
		font-size: 1.2em;
		padding: 0.25em;
		vertical-align: middle;
		border: 0em;
		margin: 0em;
		background-color:$box_operateButton;
	}
}

/* 网页内容 */
.screen {
    width: 95%;
    position: relative;
    float: right;
    font-size: 1.5em;
    text-align: left;
}

.screenFull {
    width: 100%;
    position: relative;
    float: right;
    font-size: 1.5em;
    text-align: center;
}

.galleryBox {
    width: 95%;
    position: relative;
    float: right;
    font-size: 1.5em;
    columns: 5;
    column-gap: 0.5em;
    box-sizing: border-box;
    padding: 0.25em;
	canvas {
		width: 100%;
	}
}

.formBox {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    float: left;
    text-align: left;
    padding: 0.25em;
	.side {
		width: 50%;
		float: left;
		display: block;
		box-sizing: border-box;
		text-align: left;
	}
	button,select,input,textarea {
		background-color: $box_operateButton;
		font-size: 0.8em;
		padding: 0.25em;
		border: 0;
		margin: 0.25em;
		vertical-align: middle;
	}
	input,textarea {
		box-sizing: border-box;
	}
}

.showPic {
    width: 100%;
    max-height: 32em;
    overflow-y: scroll;
    margin: auto;
    text-align: center;
	img {
		width: 90%;
		margin: 0.3em;	
	}
}

.showGalleryIndex {
    position: relative;
    overflow: hidden;
    break-inside: avoid;
    text-align: left;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: box-shadow 0.5s;
    z-index: 4;
    box-sizing: border-box;
    padding: 0.25em;
    background-color: $box_gallery;
    margin-bottom: 0.5em;
	&:hover {
		position: relative;
		overflow-y: scroll;
		box-shadow: 0 0 0 0.25em $box_gallery_border;
		z-index: 5;
	}
	h1 {
		font-size: 1.2em;
		color: $txt_h1;
		transition: background-color 1s;
		&:hover {
			background-color: $txt_h1_back;
		}	
	}
	h2 {
		font-size: 1em;
		color: $txt_h2;
		transition: background-color 1s;
		&:hover {
			background-color: $txt_h2_back;
		}	
	}
	p {
		font-size: 0.8em;
	}
	img {
		width: 100%;
	}
	button {
		background-color: $box_operateButton;
		font-size: 0.8em;
		padding: 0.25em;
		border: 0;
		margin: 0;
	}	
}

.showGallery {
    overflow: hidden;
    break-inside: avoid;
    text-align: center;
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 0.25em;
	.firstSide {
		width: 60%;
		float: left;
		display: block;
		box-sizing: border-box;
	}
	.secondSide {
		width: 40%;
		float: left;
		display: block;
		box-sizing: border-box;
		.txtBox .information {
			border: 0.25em solid $box_txt_border;
			text-wrap: wrap;
			white-space: pre-line;
		}	
	}
	img {
		width: 90%;
		margin: 0.3em;
	}
}

.previewGallery {
    position: relative;
    display: contents;
	.galleryTitle {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		opacity: 0.25;
		transition: all 0.5s;
		z-index: 6;
		font-size: 1.2em;
		color: $txt_h1;
		font-weight: bold;
		text-shadow: 0em 0em 0.1em $txt_shadow;
		&:hover {opacity: 1;}
	}
	.imgBox {
		position: relative;
		display: inline-block;
		img {
			max-width: 20em;
			height: 10em;
			overflow: hidden;
			transition: box-shadow 0.5s;
			z-index: 4;
			&:hover {
				position: relative;
				box-shadow: 0 0 0 0.25em $box_gallery_border;
				z-index: 5;
			}	
		}
	}
}

.infoBox {
    width: 100%;
    font-size: 1.2em;
    margin: auto;
    padding: 0.25em;
    box-sizing: border-box;
    text-align: left;
	white-space: pre-line;
	h1 {
		font-size: 1.4em;
		color: $txt_h1;
	}
	h2 {
		font-size: 1.2em;
		color: $txt_h2;
	}
	p {
		font-size: 1em;
		color: $txt_p;
	}
}

.txtBox {
    width: 100%;
    font-size: 1em;
    font-weight: normal;
    margin: auto;
    text-align: left;
    text-wrap: wrap;
	h1 {
		font-size: 1.2em;
		color: $txt_h1;
	}
	h2 {
		font-size: 1em;
		color: $txt_h2;
	}
	p {
		font-size: 0.8em;
		color: $txt_p;
	}
	pre {
		border: 0.25em solid $txt_default;
		overflow: hidden;
		text-wrap: inherit;
		text-wrap: wrap;
	}	
}

.boardBox {
    columns: 5;
    column-gap: 0.5em;
	.txtBox {
		width: 100%;
		margin: 0;
	}	
}

#showInput,#showTags {
    font-size: 1em;
    font-weight: bolder;
    color: $txt_spectial;
}

#starFormBox {
    width: 100%;
	button {
		width: 100%;
		background-color: $box_operateButton;
		font-size: 0.6em;
		padding: 0.25em;
		border: 0;
		margin: 0;
	}	
}

.userBox {
    width: 100%;
    position: relative;
    float: left;
    display: flex;
	.leftSide {
		width: 60%;
		.galleryBox {
			columns: 3;
			font-size: 1em;
			width: 100%;
		}	
	}
	.rightSide {
		width: 40%;
		.essayBox {
			text-align: left;
			font-size: 1em;
			text-wrap: wrap;
			max-height: 32em;
			overflow-y: scroll;
			-ms-overflow-style: none;
			scrollbar-width: none;
			padding: 0.25em;
			background-color: $box_info;
			margin: 0.25em;
			h1 {color: $txt_h1;font-size: 1em;}
			h2 {
				color: $txt_h2;
				font-size: 0.8em;
				background-color: none;
				transition: all 1s;
				:hover {background-color: $txt_h2_back;}
			}
			p {
				font-size: 0.8em;
				white-space: pre-line;
				text-wrap: wrap;
				color: $txt_p;
			}	
		}
	}
}

.userBoxIndex {
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    color: skyblue;
    background-color: cadetblue;
}

.operateBox {
    position: relative;
    width: 100%;
    font-size: 1em;
    float: right;
    z-index: 5;
	.information {
		width: 50%;
		margin: auto;
		position: relative;
		height: 1em;
		line-height: 100%;
		font-size: 1em;
		text-align: center;
		background-color: $box_operate;
		transition: all 1s;
		&:hover{font-size: 1.2em;}
	}
	.contentBox {
		width: 100%;
		position: absolute;
		font-size: 1em;
		height: 1em;
		overflow-y: hidden;
		text-align: left;
		transition: all 1s;
		background-color: none;
		-ms-overflow-style: none;
		scrollbar-width: none;
		z-index: 5;
		&:hover {
			height: 25em;
			overflow-y: scroll;
			background-color: $box_operate;
		}		
	}
}

.statementBox {
    width: 100%;
    font-size: 1em;
    text-align: left;
    font-weight: bold;
    background-color: $box_info;
    color: $txt_default;
}

.commentsBox {
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    text-wrap: wrap;
	h1 {color: $txt_h1;}
	h2 {color: $txt_h2;font-size: 0.8em;}
	p {color: $txt_p;font-size: 0.8em;}
}

/* 网页内容 */
@media screen and (max-width: 1200px){
    #menu {width: 90%;}
    #menuSide {width: 10%;}
    .screen {width: 90%;}
    .galleryBox {
        width: 90%;
        columns: 4;
        column-gap: 0.5em;
    }
    .boardBox {
        columns: 4;
    }
}

@media screen and (max-width: 1000px){
    #menu {width: 90%;}
    #menuSide {width: 10%;}
    .screen {width: 90%;}
    .galleryBox {
        width: 90%;
        columns: 3;
        column-gap: 0.5em;
    }
    .boardBox {
        columns: 3;
    }
}

@media screen and (max-width: 800px){
    #menu {
        width: 100%;
        float: none;
        text-align: center;
    }
    #menuSide {visibility: hidden;}
    .screen {width: 100%;}
    .galleryBox {
        width: 100%;
        columns: 2;
        column-gap: 0.5em;
    }
    .boardBox {
        columns: 2;
    }
    * {font-size: 1em;}
    .showGalleryIndex h1 {font-size: 1em;}
    .showGalleryIndex h2,p {font-size: 0.8em;}
    .infoBox h1 {font-size: 1em;}
    .infoBox h2,p {font-size: 0.8em;}
    .txtBox h1 {font-size: 1em;}
    .txtBox h2,p {font-size: 0.8em;}
    #menuPhone {
        position: relative;
        visibility: visible;
    }
    #menuSearch {
        margin: auto;
        position: relative;
    }
    .formBox .side {width: 100%;}
    .showGallery .firstSide{width: 100%;}
    .showGallery .secondSide{width: 100%;}
    .userBox .leftSide {width: 50%;}
    .userBox .rightSide {width: 50%;}
    .userBox .leftSide .galleryBox {columns: 1;}
}

@media screen and (max-width: 600px){
    #menu {
        width: 100%;
        float: none;
        text-align: center;
    }
    #menuSide {visibility: hidden;}
    .screen {width: 100%;}
    .galleryBox {
        width: 100%;
        columns: 1;
        column-gap: 0.5em;
    }
    .boardBox {
        columns: 1;
    }
    * {font-size: 1em;}
    .showGalleryIndex h1 {font-size: 1em;}
    .showGalleryIndex h2,p {font-size: 0.8em;}
    .infoBox h1 {font-size: 1em;}
    .infoBox h2,p {font-size: 0.8em;}
    .txtBox h1 {font-size: 1em;}
    .txtBox h2,p {font-size: 0.8em;}
    #menuPhone {
        position: relative;
        visibility: visible;
    }
    #menuSearch {
        margin: auto;
        position: relative;
    }
    .formBox .side {width: 100%;}
    .showGallery .firstSide{width: 100%;}
    .showGallery .secondSide{width: 100%;}
    .userBox .leftSide {width: 50%;}
    .userBox .rightSide {width: 50%;}
    .userBox .leftSide .galleryBox {columns: 1;}
}